@import "tailwindcss";
/* @plugin "tailwindcss-animate"; */

@theme {
  --animate-fade-in: fade-in 0.5s ease-in-out forwards;
  --animate-fade-out: fade-out 0.5s ease-in-out forwards;
  --animate-panel-in: panel-in 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-panel-out: panel-out 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-grow: grow 2s ease-out forwards;

  --font-manrope: "Manrope", serif;

  --color-primary: #908a8a;
  --color-primary-foreground: "";
  --color-secondary: #243c5a;
  --color-secondary-foreground: "";
  --color-accent: "";
  --color-accent-foreground: "";
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-destructive: #ff0000;
  --color-destructive-foreground: #f8fafc;
  --color-input: #e2e8f0;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --color-button-primary: #908a8a;

  @keyframes panel-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes panel-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes grow {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
